[%|loc%]LDAP Directory - Public[%END%]
<ul>
<li>[%|loc%]Members are managed in the LDAP Directory[%END%]</li>
<li>[%|loc%]Anyone in the company can send messages, subscribe, or view
archives[%END%]</li>
</ul>
</dd></dl>
